@model IEnumerable<Labb_2___Linq.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">New Course</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CourseId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Students in courses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>
                    <a asp-action="CourseDetails" asp-route-id="@course.CourseId">@course.CourseName</a>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
